{% extends "base.html" %}

{% block page_content %}

<p> Model Monitoring</p>

<div x-data="monitoringProgress">

    <!--Base Network Model-->
    <div>
        <template x-for="(progress,pindex) in progressOfNetwork" :key="pindex">
            <div>
                <!--Iteration <span x-text="pindex"></span>-->
                <template x-for="(prg,prgindex) in progress.progress" :key="prgindex">
                    <div  x-data="{curprg: prg, bstate:prg.from}">
                        <table>
                            <tr>
                                <td>
                                    <div x-show="true">
                                        <span x-text="prg.showNextEntry"></span>
                                        <button id="bstate.id" x-text="bstate.name + ' : ' + bstate.actionable + bstate.complete" type="button"
                                            @click="recordFromAction(curprg,bstate)"
                                            class="button button4"
                                            :class="{ 'bg-yellow-300': (bstate.actionable && !bstate.complete),
                                                      'bg-green-500':  (bstate.actionable && bstate.complete),
                                                      'bg-green-300' : (!bstate.actionable && bstate.complete),
                                                      'bg-neutral-300': (!bstate.actionable && !bstate.complete)}">
                                            <!--:disabled="!bstate.actionable">-->
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <div x-show="true">
                                        <table>
                                            <tr>
                                                <template x-for="(tostate,toindex) in prg.to" :key="toindex">
                                                    <td>
                                                         <button id="tostate.id" x-text="tostate.name + ' : ' + tostate.actionable + tostate.complete" type="button"
                                                              @click="recordToAction(curprg,tostate)"
                                                              class="button button4"
                                                              :class="{ 'bg-yellow-300': (tostate.actionable && !tostate.complete),
                                                                        'bg-green-500':  (tostate.actionable && tostate.complete),
                                                                        'bg-green-300' : (!tostate.actionable && tostate.complete),
                                                                        'bg-neutral-300': (!tostate.actionable && !tostate.complete)}">
                                                              <!--:disabled="tostate.complete">-->
                                                         </button>

                                                    </td>
                                                </template>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div x-show="prg.showNextEntry">
                                        <button x-on:click="showNextState(curprg)" class="btn btn-success"> Show Next </button>
                                        <!--<button x-on:click="skipNext(curprg)" class="btn btn-warning"> Skip Next </button>-->
                                    </div>
                               </td>
                           </tr>
                        </table>
                    </div>
                </template>
            </div>
        </template>
    </div>

    <!--Base Network Model-->
</div>


<!--{{ data}}-->

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('monitoringProgress', () => ({
            name:'',
            stateMatrix:[],

            //base Level Network
            individualBaseLevelOutConnections:[],  //this structure contains all individual outgoing connections without X1->X1. May also have X1-X2;X1->X3
            outgoingBaseLevelNetwork:[],        // this structure contains causal connection X1->X2,X3 and so on
            incomingBaseLevelNetwork:[],        //this structure contains all individual incoming connections
            progressOfNetwork:[],               // this structure contains progress of network


            iteration:0,

            // Second Order Adaption
            firstOrderLevel:[],
            secondOrderLevel:[],

            //controlling events

            showNextState(curprg){
                /* This function is called when user requests to show the next state.
                    1. it gets the next progress element is shown and current element is hidden
                    2. If last element in progress is reached, then check
                    2.a. if the last element is a state then loop to the next iteration
                    2.b. if the last element is null then dont show the next state but alert with 'process is completed'
                */

                console.log('curprg',curprg)
                progress = this.progressOfNetwork[this.iteration].progress
                from_elem = curprg.from
                to_elems = curprg.to
                null_state = to_elems[0]
                if (null_state.id == ''){
                    alert('Protocol is completed')
                    return
                }


                //1. get the progress element and manipulate it with show and hide status
                //1.a. proceed only if all the elements are completed
                fromindex = progress.findIndex(e => e.from === from_elem)

                if(from_elem.complete)
                {
                    idx = to_elems.findIndex(e => e.complete == false)  //if idx > -1 then some element is not complete
                    if(idx < 0)
                    {
                        //show the next progress element and hide the current
                        curprg.showNextEntry = false
                        if(fromindex > -1 && fromindex < progress.length -1)
                        {
                            next_entry = progress[fromindex+1]
                            next_entry.showNextEntry = true

                        }
                        else if(fromindex == progress.length - 1)
                        {
                            console.log('we are at the last element')
                            to_elems = curprg.to
                            
                            //this.populateProgressOfNetwork(false)


                        }
                    }

                }


            },

            recordToAction(curprg,state){
            /*
                This function is called when the to element is clicked
                Input: current progress (curprg) and state (tostate)
                Output: 1. State is considered to be completed.
                        2. The 'from' states of the coming progress elements are completed
                        3. the next progress element is shown and current element is hidden

            */

                //console.log(curprg,state)

                state.complete = true
                progress = this.progressOfNetwork[this.iteration].progress
                idx = progress.findIndex(e => e.from.id == state.id)
                if(idx > -1)
                {
                    //check if we are at the last element of the progress
                    from_elem = progress[idx].from
                    if(from_elem.complete)
                    {
                        //we are at the last element
                        console.log('we are at the last element')
                        //shownext here
                    }
                    else
                    {
                        //2. The 'from' states of the coming progress elements are completed
                        from_elem = progress[idx].from
                        from_elem.complete = true
                        //console.log('from_elem',from_elem)
                        //2.a. All the 'to' non-actionable states of state as completed. If they dont have more incoming connections
                        to_elems = progress[idx].to
                        this.updateToStatesStatus(to_elems,progress) //this function updates the completion status of to states - covers non-actionable states
                        //3. Mark all the same 'to' states as completed in coming progress elements
                        this.updateActionableToElements(state,true)
                    }
                }

            },

            recordFromAction(curprg,state){
            /*
                This function is called when the from element is clicked
                Input: current progress (curprg) and state (bstate)
                Output: 1. State is considered to be completed.
                        2. All the 'to' non-actionable states are completed. If they dont have more incoming connections
                        3. all the 'to' states of the previous progress elements are completed
                        4. the next progress element is shown

            */
                state.complete = true

                //2. All the 'to' non-actionable states are completed. If they dont have more incoming connections
                progress = this.progressOfNetwork[this.iteration].progress
                //console.log('progress', progress)
                idx = progress.findIndex(e => e.from.id == state.id)
                //console.log('idx',idx)
                if(idx > -1)
                {
                    entry_completed = progress[idx]
                    //2.a. mark the to elements as completed
                    to_elems = entry_completed.to
                    this.updateToStatesStatus(to_elems,progress) //this function updates the completion status of to states - covers non-actionable states

                    //3. all the same 'to' states of the previous progress elements are completed
                    //this.updateActionableToElements(entry_completed.from)   //this function updates the completion status of to states - covers actionable states
                }
            },

            updateActionableToElements(entry,ifto = false){
                //This function will set the status of actionable states that were used earlier
                // It should update only the status of

                if(!ifto)
                    return

                progress = this.progressOfNetwork[this.iteration].progress
                //console.log('updateActionableToElements - entry', entry)

                status = entry.complete
                for(var i = 0; i < progress.length; i++)
                {
                    to_elems = progress[i].to
                    idx = to_elems.findIndex(e => e.id == entry.id)
                    if(idx > -1)
                    {
                        to_elems[idx].complete = status
                        //console.log('updateActionableToElements - idx', idx)
                    }
                }
            },

            updateToStatesStatus(to_elems,progress){
                    /* This function updateToStatesStatus of the to elements. It takes the to elements (array).
                        1. Get each element in the array
                        2. Check its causal impacts - if all states are complete
                        3. if the state is not actionable then update the status of
                    */

                    for(var i = 0; i < to_elems.length; i++)
                    {
                        to_element = to_elems[i]
                        if(to_element.id != '')
                        {
                            //console.log('updateToStatesStatus: to_element name', to_element.name)
                            status = this.checkCausalImpact(to_element)

                            var status = (status === 'true');
                            if(!to_element.actionable)
                            {
                                to_element.complete = status
                                //mark same element which were previously set as not completed.
                                this.checkandUpdateToState(to_element,status)
                                //mark the 'from' elements in the progress elements as completed
                                this.updateFromStateStatus(to_element, status, progress)
                            }
                        }
                        else
                        {
                            //last node is achieved, update the complete status if incoming state is completed

                            status = this.checkCausalImpact(to_element)
                            var status = (status === 'true');
                            to_element.complete = status

                            //console.log('updateToStatesStatus: to_element name,status', to_element.name,status)

                        }

                    }
            },
            checkandUpdateToState(to_element,status){
            //This function updates the status of the 'to' non-actionable elements in previous progress steps

                //console.log('checkandUpdateToState: to_element name,status', to_element.name,status)
                progress = this.progressOfNetwork[this.iteration].progress
                var status = (status === 'true');
                if(status)
                    for(var i = 0; i < progress.length; i++)
                    {
                       from_elem = progress[i].from
                       completed = from_elem.complete

                       to_elems = progress[i].to
                       idx = to_elems.findIndex(e => e.id == to_element.id)
                       if(idx > -1)
                       {
                            elem = to_elems[idx]
                            elem.complete = status
                            //console.log('checkandUpdateToState: elem,status',elem,status)
                       }

                    }

            },
            updateFromStateStatus(to_element, status, progress){
                //This function updates the status of a state in progress / current iteration progress
                //1. update the status of 'from' states

                //console.log('updateFromStateStatus: to_element name', to_element.name)

                idx = progress.findIndex(e => e.from.id == to_element.id)
                //console.log('idx: ', idx)
                if(idx > -1)
                {
                    progress[idx].from.complete = status
                    //console.log('updateFromStateStatus:progress', progress[idx])
                    //update the status of 'to' states
                    to_elements = progress[idx].to

                    //console.log('updateFromStateStatus: idx', idx,to_elements)
                    this.updateToStatesStatus(to_elements,progress)
                }

            },

            checkCausalImpact(to_element){
                // This function checks the causal impacts from the other (incoming states).
                //Input: to_element: an element that has to change the completion status based on the input state
                //Output: returns true if all incoming connections are also complete

                progress = this.progressOfNetwork[this.iteration].progress
                status = true
                index = this.incomingBaseLevelNetwork.findIndex(e => e.state.id == to_element.id)
                //console.log('updateFromStateStatus:index', index)
                if(index > -1)
                {
                    incoming_states = this.incomingBaseLevelNetwork[index].incoming_states
                    for(i = 0; i < incoming_states.length;i++)
                    {
                        elem = incoming_states[i]
                        idx = progress.findIndex(e => e.from.id == elem.id)
                        if(idx > -1)
                        {
                            from_elem = progress[idx].from
                            completed = from_elem.complete
                            if(!completed)
                            {
                                //console.log('completed',completed)
                                return false
                            }
                        }
                    }
                }
                else
                {
                    //check if it is the last node of process completed
                    if(to_element.id == '')
                    {
                      //console.log('updateFromStateStatus:element name', to_element.name)
                      last_index = this.incomingBaseLevelNetwork.length - 1
                      incoming_states = this.incomingBaseLevelNetwork[last_index].incoming_states

                      for(i = 0; i < incoming_states.length;i++)
                      {
                           elem = incoming_states[i]
                           idx = progress.findIndex(e => e.from.id == elem.id)
                           if(idx > -1)
                           {
                               from_elem = progress[idx].from
                               //console.log('from_elem',from_elem)
                               completed = from_elem.complete
                               //console.log('completed',completed)
                               if(!completed)
                               {
                                   return false
                                }
                           }
                      }

                      //console.log('true')
                   }

                }
                //console.log('status in causalimpact',status)
                return status
            },



            //initializations

            init(){
                /* Loading the graph from the database*/
                //1. parse json
                 json_data = JSON.parse("{{data|escapejs}}")
                 this.name = json_data.name
                 specification = json_data.specification

                 baseModel = specification[0]
                 this.incomingFirstOrderLevel = specification[1]
                 this.incomingSecondOrderLevel = specification[2]

                 //2. generating stateMatrix
                 this.stateMatrix.push(specification[0])
                 this.stateMatrix.push(specification[1])
                 this.stateMatrix.push(specification[2])


                 //3. generating model matrix. This matrix consists of outgoing connections
                 //console.log(baseModel)
                 this.generateIncomingBaseLevelNetwork(baseModel)
                 this.generateOutgoingBaseLevelNetwork(baseModel)
                 this.populateProgressOfNetwork()
                 //this.populateProgressOfNetwork(false)

            },//init

            generateToElements(entry){
                /* This function generates new progress Element*/

                to = []
                for(var i = 0; i < entry.length; i++)
                {
                    to_elem = entry[i]
                    elem = this.createNewElement(to_elem)
                    to.push(elem)
                }
                return to
            },

            populateProgressOfNetwork(start = true){
                /* This function populates the network to be displayed
                */

                progress = []

                //populating the network with the initial states
                for (i = 0; i < this.outgoingBaseLevelNetwork.length; i++)
                {
                    curiterEntry = this.outgoingBaseLevelNetwork[i]
                    show = curiterEntry.from.initial_state


                    if(show == true)
                    {
                        from = this.createNewElement(curiterEntry.from)
                        to = this.generateToElements(curiterEntry.to)

                        entry = {
                            from: from,
                            to: to,
                            showNextEntry: true
                        }

                        progress.push(entry)

                    }
                }
                //populating the network with the rest of the states
                for (i = 0; i < this.outgoingBaseLevelNetwork.length; i++)
                {
                    curiterEntry = this.outgoingBaseLevelNetwork[i]
                    show = curiterEntry.from.initial_state

                    if(show != true)
                    {
                        from = this.createNewElement(curiterEntry.from)
                        to = this.generateToElements(curiterEntry.to)
                        entry = {
                            from: from,
                            to: to,
                            showNextEntry: false
                        }

                        /*entry = {
                            from: curiterEntry.from,
                            to: curiterEntry.to,
                            showNextEntry: false
                        }*/

                        progress.push(entry)

                    }
                }


                if(start == false)
                {
                    this.iteration++
                }

                this.progressOfNetwork[this.iteration] = {progress: progress}
                //this.progressOfNetwork.push({progress: progress})

            },

            generateIncomingBaseLevelNetwork(model){
                   //Function to extract the incoming states to make an incoming graph
                   //Input: States like X1<-X1; X2<-X1
                   //Output: X1<-null and X2<->X1
                   //console.log(model)
                   for(var i = 0; i < model.states.length; i++){
                      state = model.states[i]
                      incoming_states = this.getIncomingStates(state,model)
                      this.incomingBaseLevelNetwork.push({state: state, incoming_states: incoming_states})
                   }



            },

            getIncomingStates(states,model){
                   //Function to extract the incoming states to make an incoming graph
                   //Input: States like X2<-X1; X1<-X1
                   //Output: X2->X1 and X1->0

                   sid = state.id.toLowerCase()

                   found = false
                   idx = model.states.findIndex(e => e.id.toLowerCase() == sid)
                   incoming = model.states[idx].inconnection
                   //iterate the incoming states data structure
                   incoming_states = []
                   for(var i = 0; i < incoming.length; i++){
                        conn_value = incoming[i].value.toLowerCase()
                        if(conn_value != sid) //avoiding self reference
                        {
                            found = true
                            incoming_stateidx = model.states.findIndex(e => e.id.toLowerCase() == conn_value)
                            incoming_state = model.states[incoming_stateidx]
                            incoming_states.push(incoming_state)
                        }
                   }

                   if(!found)
                   {
                     null_state = this.createNewElement()
                      incoming_states.push(null_state)
                   }

                   return incoming_states
          },

          generateOutgoingBaseLevelNetwork(model) {
                /*making the outgoing graph from individual incoming connections
                    Input: X1->X2 and X1->X3
                    Output: X1->X2,X3
                    This will populate outgoingBaseLevelNetwork which will have information like 'from' state to 'to' states
                 */

                this.generateIndividualBaseLevelOutConnections(model)

                // get outgoing states for all states in a model

                incomingGraph = []

                for (index = 0; index < this.individualBaseLevelOutConnections.length; index++)
                {
                    //generating from element
                    elem = this.individualBaseLevelOutConnections[index].from
                    //check if from_elem is an initial state
                    initial_state = this.isInitialState(elem)
                    from_elem = this.createNewElement(elem)
                    from_elem.initial_state = initial_state

                    //generating to elements
                    elem = this.individualBaseLevelOutConnections[index].to
                    initial_state = this.isInitialState(elem)
                    to_elem = this.createNewElement(elem)
                    to_elem.initial_state = initial_state
                    //console.log('to_elem', to_elems)

                    to_elems=[]

                    idx = this.outgoingBaseLevelNetwork.findIndex(e => e.from.id === from_elem.id)

                    showNextEntry = false
                    if(idx == -1)
                    {
                        //element is not found in the outgoingBaseLevelNetwork
                        //check if to_elem is already a from element then create a new element
                        toidx = this.outgoingBaseLevelNetwork.findIndex(e => e.from === to_elem)
                        //console.log('toidx', toidx)

                        if(toidx > -1)
                        {
                            elem = this.outgoingBaseLevelNetwork[toidx].from
                            initial_state = this.isInitialState(elem)
                            to_elem = this.createNewElement(elem)
                            to_elem.initial_state = initial_state
                        }

                        to_elems.push(to_elem)


                        this.outgoingBaseLevelNetwork.push({from: from_elem, to: to_elems, showNextEntry:showNextEntry})
                    }
                    else
                    {
                        //from state already exists in the network, then append the baseModel
                        this.outgoingBaseLevelNetwork[idx].to.push(to_elem)
                    }
                }
          }, //generateOutgoingBaseLevelNetwork

          isInitialState(state)
          {
               //this function check and return if a state is an initial state
               initial = false
               //console.log('state',state)
              // console.log('incomingBaseLevelNetwork',this.incomingBaseLevelNetwork)
               idx = this.incomingBaseLevelNetwork.findIndex(e => e.state.id == state.id)
               if(idx > -1)
               {
                    incoming_elems = this.incomingBaseLevelNetwork[idx].incoming_states
                    //if there is no element
                    if(incoming_elems[0].id == '')
                        return true

                    if (idx == 0)//Assumption: first state is always an initial state
                        initial = true

               }

               return initial

          },

          generateIndividualBaseLevelOutConnections(model){
                   //Function to extract the incoming states to make an outgoing graph
                   //Input: States like X2<-X1; X3<-X1
                   //Output: X1->X2 and X1->X3
                   //console.log(model)
                   for(var i = 0; i < model.states.length; i++){
                      state = model.states[i];
                      this.getOutgoingStates(state, model)
                   }


          },

          getOutgoingStates(to_state, model){
                   //Function to extract the incoming states to make an outgoing graph
                   //Input: States like X2<-X1; X3<-X1
                   //Output: X1->X2 and X1->X3
                   sid = state.id.toLowerCase()
                   found = false
                   for(i = 0; i< model.states.length;i++)
                   {
                       incoming = model.states[i].inconnection
                       for(j = 0; j < incoming.length;j++)
                       {
                            val = incoming[j].value.toLowerCase()
                            if( val == sid)
                            {
                                found = true
                                ostate = model.states[i]
                                if(ostate != state) //avoiding self-reference
                                {
                                    this.individualBaseLevelOutConnections.push({'from':state, 'to':ostate})
                                }
                            }
                       }
                   }
                   if (!found)
                   {
                      toelem = this.createNewElement() //process completed
                      toelem.name = 'Process completed'
                      toelem.username = 'Process completed'
                      this.individualBaseLevelOutConnections.push({'from':state, 'to':toelem})
                   }

          },

          createNewElement(element){

            elem = {
                id: '',
                name: '',
                username: '',
                actionable: false,
                combinationfunctions:[],
                complete: false,
                connectionweights: [],
                inconnection: [],
                initvalue: 0,
                showParamBtn: false,
                speed: 0,
                successmsg: [],
                warningmsg: [],
                initial_state:false
            }
            if(element)
            {
                var complete = (element.complete === 'true');
                elem = {
                id: element.id,
                name: element.name,
                username: element.username,
                actionable: element.actionable,
                combinationfunctions:element.combinationfunctions,
                complete: complete,
                connectionweights: element.connectionweights,
                inconnection: element.inconnection,
                initvalue: element.initvalue,
                showParamBtn: element.showParamBtn,
                speed: element.speed,
                successmsg: element.successmsg,
                warningmsg: element.warningmsg,
                initial_state: false
                }
            }
            return elem
          }

        }))
    })
</script>



{% endblock %}