{% extends "base.html" %}

{% block page_content %}
{% csrf_token %}
<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>

<form id="updateMModel" method="post" action="{% url 'rolesspecificationupdated' %}"> {% csrf_token %}
    <div x-data="coachSpecification()" x-init="loadModel()" class="container py-5">

    <table class="tblstyle">
            <tr>
                <td>
                    <span class="input-group-text" id="basic-addon3" x-text="'Name of the Model:' +'\xa0\xa0\xa0\xa0\xa0\xa0\xa0'+ name"> </span>
                </td>

            </tr>
            <tr><td><br></td></tr>

            <tr>
                <!--base level -->
                <template x-for="(bstate,bindex) in baseLevel.states" :key="bindex">
                <table>
                    <tr class="baselevel">

                            <td>
                                <span id="bstate.id" x-text="bstate.id"></span>
                            </td>
                            <!-- State name with tooltip-->
                            <td>
                                <div x-data="{ message: bstate.username }">
                                    <template x-ref="template">
                                        <p x-text="message"></p>
                                    </template>
                                    <input type="text" x-tooltip="{
                                        content: () => $refs.template.innerHTML,
                                        allowHTML: true,
                                        appendTo: $root
                                        }" class="form-control mr-3" size="10" x-model="bstate.name" readonly>
                                    </input>
                                </div>
                            </td>
                            <!-- data for the Coach -->
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <select class="form-select" x-model="bstate.actionable" x-on:change="showandSetParameters(bindex)">
                                                <!--<option value="0" hidden selected> -- select an option -- </option>-->
                                                    <option value="true"> Actionable</option>
                                                    <option value="false"> Observatory</option>
                                            </select>
                                        </td>
                                        <td>
                                            <td x-show="bstate.actionable">
                                                <textarea x-model="bstate.successmsg" placeholder="Enter sample success messages one per line" class="form-control" rows="3"></textarea>
                                                <!--<input type="text" x-model="bstate.successmsg" placeholder="Success Message" class="form-control mr-3" size="12"></input>-->
                                            </td>
                                        </td>
                                        <td>
                                            <div x-show="bstate.actionable">
                                                <textarea x-model="bstate.warningmsg" placeholder="Enter sample warning messages one per line" class="form-control" rows="3"></textarea>
                                                <!--<input type="text" x-model="bstate.warningmsg" placeholder="Warning Message" class="form-control mr-3" size="12"></input>-->
                                            </div>
                                        </td>

                                    </tr>
                                    </table>
                            </td>




                    </tr>
                </table>
                </template>
                <!--base level -->

                <!--first order level -->
                  <template x-for="(fstate,findex) in firstOrderLevel.states" :key="findex">
                <table>
                    <tr class="firstlevel">

                            <td>
                                <span id="fstate.id" x-text="fstate.id"></span>
                            </td>
                            <!-- State name with tooltip-->
                            <td>
                                <div x-data="{ message: fstate.username }">
                                    <template x-ref="template">
                                        <p x-text="message"></p>
                                    </template>
                                    <input type="text" x-tooltip="{
                                        content: () => $refs.template.innerHTML,
                                        allowHTML: true,
                                        appendTo: $root
                                        }" class="form-control mr-3" size="10" x-model="fstate.name" readonly>
                                    </input>
                                </div>
                            </td>
                            <!-- data for the Coach -->
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <select class="form-select" x-model="fstate.actionable" x-on:change="showandSetFLParameters(findex)">
                                                <!--<option value="0" hidden selected> -- select an option -- </option>-->
                                                    <option value="true"> Actionable</option>
                                                    <option value="false"> Observatory</option>
                                            </select>
                                        </td>
                                        <td>
                                            <td x-show="fstate.actionable">
                                                <textarea x-model="fstate.successmsg" placeholder="Enter sample success messages one per line" class="form-control" rows="3"></textarea>
                                                <!--<input type="text" x-model="fstate.successmsg" placeholder="Success Message" class="form-control mr-3" size="12"></input>-->
                                            </td>
                                        </td>
                                        <td>
                                            <div x-show="fstate.actionable">
                                                <textarea x-model="fstate.warningmsg" placeholder="Enter sample warning messages one per line" class="form-control" rows="3"></textarea>
                                                <!--<input type="text" x-model="fstate.warningmsg" placeholder="Warning Message" class="form-control mr-3" size="12"></input>-->
                                            </div>
                                        </td>

                                    </tr>
                                    </table>
                            </td>




                    </tr>
                </table>
                </template>
                <!--first order level -->

                <!--second order level -->
                <template x-for="(sstate,sindex) in secondOrderLevel.states" :key="sindex">
                <table>
                    <tr class="secondlevel">

                            <td>
                                <span id="sstate.id" x-text="sstate.id"></span>
                            </td>
                            <!-- State name with tooltip-->
                            <td>
                                <div x-data="{ message: sstate.username }">
                                    <template x-ref="template">
                                        <p x-text="message"></p>
                                    </template>
                                    <input type="text" x-tooltip="{
                                        content: () => $refs.template.innerHTML,
                                        allowHTML: true,
                                        appendTo: $root
                                        }" class="form-control mr-3" size="10" x-model="sstate.name" readonly>
                                    </input>
                                </div>
                            </td>
                            <!-- data for the Coach -->
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <select class="form-select" x-model="sstate.actionable" x-on:change="showandSetParameters(sindex)">
                                                <!--<option value="0" hidden selected> -- select an option -- </option>-->
                                                    <option value= true> Actionable</option>
                                                    <option value=false> Observatory</option>
                                            </select>
                                        </td>
                                        <td>
                                            <td x-show="sstate.actionable">
                                                <textarea x-model="sstate.successmsg" placeholder="Enter sample success messages one per line" class="form-control" rows="3"></textarea>
                                                <!--<input type="text" x-model="sstate.successmsg" placeholder="Success Message" class="form-control mr-3" size="12"></input>-->
                                            </td>
                                        </td>
                                        <td>
                                            <div x-show="sstate.actionable">
                                                <textarea x-model="sstate.warningmsg" placeholder="Enter sample warning messages one per line" class="form-control" rows="3"></textarea>
                                                <!--<input type="text" x-model="sstate.warningmsg" placeholder="Warning Message" class="form-control mr-3" size="12"></input>-->
                                            </div>
                                        </td>

                                    </tr>
                                    </table>
                            </td>




                    </tr>
                </table>
                </template>
                <!--second order level -->


            </tr>
        <tr>
            <td>
                <br>
                <br>

            </td>
        </tr>
        <tr>
            <td>
                <button x-on:click="saveRole()" class="btn btn-success"> Save </button>
                <button x-on:click="clearForm()" class="btn btn-danger"> Reset Form </button>
            </td>
        </tr>
    </table>


</div>
</form>
<!--{{ data}}-->
<script>

function coachSpecification(){
 return {
 id:'',
 name:'',
 stateMatrix:[],
 baseLevel:[],
 firstOrderLevel:[],
 secondOrderLevel:[],



 loadModel(){

 //loading MM

 json_data = JSON.parse("{{data|escapejs}}")
 this.id = json_data.id
 this.name = json_data.name
 specification = json_data.specification
 console.log(specification)

 this.baseLevel = specification[0]
 this.firstOrderLevel = specification[1]
 this.secondOrderLevel = specification[2]

 this.stateMatrix.push(this.baseLevel)
 this.stateMatrix.push(this.firstOrderLevel)
 this.stateMatrix.push(this.secondOrderLevel)

},

showandSetParameters(index){
    //setting the parameters
    if (this.baseLevel.states[index].actionable == 'true')
        this.baseLevel.states[index].actionable = true
    else
        this.baseLevel.states[index].actionable = false

},

showandSetFLParameters(index){
    //setting the parameters
    if (this.firstOrderLevel.states[index].actionable == 'true')
        this.firstOrderLevel.states[index].actionable = true
    else
        this.firstOrderLevel.states[index].actionable = false
},


showandSetSLParameters(index){
    //setting the parameters
    if (this.secondOrderLevel.states[index].actionable == 'true')
        this.secondOrderLevel.states[index].actionable = true
    else
        this.secondOrderLevel.states[index].actionable = false
},

saveRole(){
//saving data to the database

     axios({
        method: 'post',
        url: '/updatespecification/',
        data: {
            id: this.id,
            name: this.name,
            stateMatrix: this.stateMatrix
        },
        headers: {
            //'Content-Type': 'application/json',
                   'X-CSRFToken': csrftoken},
                   validateStatus: (status) => {         //validateStatus
                   return true;
                  },
        })
        .then((response) => {
            console.log(response.status)
        }, (error) => {
            console.log(error.response.data);
        });

}  //save
,

clearForm(){
    loadModel()
}


}//return
}//coachSpecification
</script>
{% endblock %}