<!--
This version contains the monitoring of states having monitoringstate = true
and will be showing only the monitoring states
-->
{% extends "base.html" %}

{% block page_content %}

<p> Model Monitoring</p>

<div x-data="monitoringProgress">

    <!--Base Network Model-->
    <div>
        <template x-for="(progress,pindex) in progressOfNetwork" :key="pindex">
            <div>
                <hr>
                <!--Iteration <span x-text="pindex"></span>-->
                <template x-for="(prg,prgindex) in progress.progress" :key="prgindex">
                    <div  x-data="{curprg: prg, bstate:prg.from, stateclicked: prg.from, istostate:false}">
                        <table>
                            <tr>
                                <td>
                                    <div x-show="bstate.monitoringstate"><!--"true">-->
                                        <button id="bstate.id" x-text="bstate.id + ':' + bstate.name" type="button"
                                            @click="recordFromAction(curprg,bstate)"
                                            class="button button4"
                                            :class="{ 'bg-yellow-300': (bstate.monitoringstate && !bstate.complete),
                                                      'bg-green-500':  (bstate.monitoringstate && bstate.complete),
                                                      'bg-green-300' : (!bstate.monitoringstate && bstate.complete),
                                                      'bg-neutral-300': (!bstate.monitoringstate && !bstate.complete)}">
                                            <!--:disabled="!bstate.monitoringstate">-->
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <table>
                                            <tr> <!-- + 'CMP:' + tostate.complete + ' FOUT:' + tostate.fout-->
                                                <template x-for="(tostate,toindex) in prg.to" :key="toindex">
                                                    <td>
                                                        <div x-show="tostate.monitoringstate">
                                                         <button id="tostate.id" x-text=" tostate.id + ':' +tostate.name" type="button"
                                                              @click="stateclicked = tostate;
                                                                      istostate = true;
                                                                      recordToAction(curprg,tostate)"
                                                              class="button button4"
                                                              :class="{ 'bg-red-500': (tostate.monitoringstate && tostate.fout && !tostate.complete),
                                                                        'bg-yellow-300': (tostate.monitoringstate && !tostate.complete && !tostate.fout),
                                                                        'bg-green-500':  (tostate.monitoringstate && tostate.complete && !tostate.fout),
                                                                        'bg-green-300' : (!tostate.monitoringstate && tostate.complete && !tostate.fout),
                                                                        'bg-neutral-300': (!tostate.monitoringstate && !tostate.complete && !tostate.fout)}">
                                                         </button>
                                                        </div>
                                                    </td>
                                                </template>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <!--<tr>
                                <td>
                                    <div x-show="prg.showNextEntry">
                                        <button x-on:click="showNextEventBasedProgressElement(curprg,stateclicked,istostate)" class="btn btn-success"> Show Next </button>
                                    </div>
                               </td>
                           </tr>-->
                        </table>
                    </div>
                </template>
            </div>
        </template>
    </div>

    <!--Base Network Model-->
</div>


<!--{{ data}}-->

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('monitoringProgress', () => ({
            name:'',
            stateMatrix:[],

            //base Level Network
            individualBaseLevelOutConnections:[],  //this structure contains all individual outgoing connections without X1->X1. May also have X1-X2;X1->X3
            outgoingBaseLevelNetwork:[],        // this structure contains causal connection X1->X2,X3 and so on
            incomingBaseLevelNetwork:[],        //this structure contains all individual incoming connections
            progressOfNetwork:[],               // this structure contains progress of network
            language:'nl-NL',

            iteration:0,

            // Second Order Adaption
            firstOrderLevel:[],
            secondOrderLevel:[],

            //controlling events

            sleep(ms)
            {
                //function used to put delay
                var start = new Date().getTime();
                for (var i = 0; i < 1e7; i++) {
                 if ((new Date().getTime() - start) > ms){
                   break;
                 }
               }
            },

            play(str, pitch,rate){
                        /*Text to speech
                link used: https://usefulangle.com/post/98/javascript-text-to-speech
            */
              return
              //console.log('pitch',pitch);
              if ('speechSynthesis' in window) {
                let speech = new SpeechSynthesisUtterance(str);
                speech.lang = this.language;
                speech.pitch = pitch;
                speech.rate = rate;

                window.speechSynthesis.speak(speech);
              }
              else{
                document.write("Browser not supported")
              }
              this.sleep(10000)
              return
            },

            showNextEventBasedProgressElement(curprg,state,istostate){
                /* This function is called when user requests to show the next state.
                    it gets the next progress element based upon the clicked state.
                    1. curprg element is shown but shownext button is hidden
                    2. get to elemets of the state, and populate the progress element accordingly
                    2.a. if the last element is a state then loop to the next iteration
                    2.b. if the last element is null then dont show the next state but alert with 'process is completed'
                    //this.progressOfNetwork[this.iteration] = {progress: progress}
                */

                //console.log('state, istostate',state.name, istostate,curprg)
                from_elem = curprg.from
                to_elems = curprg.to
                //console.log('from_elem',from_elem,this.progressOfNetwork)

                //console.log('showNext - idx',idx)
                //console.log('showNext - from_elem,to_elems::::',from_elem,to_elems)

                if(from_elem.complete)
                {
                    //if a state is clicked, then propagate with respect to next 'to' elements
                    t_complete = true
                    idx = to_elems.findIndex(e => e.complete == false)

                    //console.log('showNext - length,idx',to_elems.length, idx,istostate)
                    if(idx > -1)
                    {
                        //there is an element which is not complete
                        t_complete = false
                    }

                    if(istostate)
                        t_complete = true


                    //console.log('clicked state',state)

                    if(t_complete)
                    {
                        //console.log('showNext - flag,state',t_complete,state)
                        elem = this.getToElementsofaState(state)


                        if(elem[0].id == '')    //this implies it is at the end of the network
                        {
                            console.log('WORKING HERE SHOWNEXT - lastelem', elem)
                            elem[0].complete = true
                        }

                    }

                }

            },


            recordToAction(curprg,state){
            /*
                This function is called when a to element is clicked
                Input: current progress (curprg) and state (tostate)
                Output: 1. State is considered to be completed.
                        2. The 'from' states of the coming progress elements are completed
                        3. the next progress element is shown and current element is hidden

            */
                //if from state is complete then move on

                if(!curprg.from.complete)
                {
                    alert('Please complete the initial element first')
                    return
                }

                //if all from states are clicked then move on
                //console.log('STATTETEE',state)
                //completed = this.checkCausalImpact(progress_element)
                completed = this.checkCausalImpact(state)

                //WORKING HERE
                console.log('WORKING HERE!! checkCausalImpact returned completed',completed)
                if(!completed)
                {
                   alert('Please complete the initial element first')
                   return
                }


                //if another to element in the curprg is already clicked then return
                to_elems = curprg.to
                //console.log('to_elems',to_elems)
                idx = to_elems.findIndex(e => e.complete == true)
                if(idx > -1)
                {
                    console.log('another item is already clicked')
                    return
                }

                //if it is not monitoring state then return
                if(!state.monitoringstate)
                {
                    console.log('this is not a monitoring state')
                    return
                }

                /*TO-DO:// if it is not initial state then check for the causal impact. if all elements are completed then proceed for it as completed
                if (!state.initial_state)
                {
                    impact_complete = this.checkCausalImpact(state)
                    console.log('causalimpact is',impact_complete)

                    if(!impact_complete)
                    {
                        console.log('causal impact not complete yet')
                        return
                    }

                }*/

                state.complete = true
                //Update previous states status
                //console.log('curprg',curprg)
                //console.log('prg',this.progressOfNetwork[this.iteration].progress)

                //update status

                this.updateCurrentMonitoringState(state,curprg)

                //playing the audio messages
                success_msg = state.successmsg
                pitch = 0.8
                rate = 0.85
                if(state.sentimentlbl == 'Negative')
                    pitch = 0.9
                    rate = 0.7

                this.play(state.successmsg,pitch,rate)

                curprg.showNextEntry = false

                //2. if the state has a non-monitoring to-state complete it too.
                //get from outgoingBaseLevelNetwork then get the respective to elements
                idx = this.outgoingBaseLevelNetwork.findIndex(e => e.from.id == state.id)
                //console.log('recordTo:idx',idx)
                //from_elem
                if(idx > -1)
                {
                    from_entry = this.outgoingBaseLevelNetwork[idx]
                    //console.log('entry', from_entry)

                    from_elem = from_entry.from
                    //console.log('from_elems', from_elem)

                    //if to element is a monitoring state then do not update the status of the following states, otherwise update
                    to_elems = from_entry.to
                    for(var i = 0; i < to_elems.length; i++)
                    {
                        to_elem = this.getToElementsofaState(to_elems[i]) //populates the to elements - decision
                        //console.log('recordToAction: to_elemENT', to_elem)
                    }
                }

                //Alternative Paths: if there are more monitoring elements in curprg make their fout as true=> i.e. the path is not followed
                to_elems = curprg.to
                //console.log('recordToAction: to_elemts', to_elems)

                for(var i=0; i<to_elems.length;i++)
                {
                    to_elem = to_elems[i]

                    if((to_elem.monitoringstate == true) && (to_elem.complete == false))
                    {
                        to_elem.fout = true
                        //TO-DO: complete the same for the fout states with the other states in the progress elements use the following function
                        //updateCurrentMonitoringState(state,curprg)
                    }


                }


                this.showNextEventBasedProgressElement(curprg,state,true)
            },

            updateCurrentMonitoringState(state,curprg){
            /*  TO-DO: This function updates the similar elements in the progressOfNetwork
                This function takes the state and sets the status of the similar elements in the progress
                */

                for(var i = 0; i < this.progressOfNetwork[this.iteration].progress.length;i++)
                {
                    to_elems = this.progressOfNetwork[this.iteration].progress[i].to

                    //1.  select similar states in the current progress to mark them as completed
                    //1.a. update from states
                    from_elem = this.progressOfNetwork[this.iteration].progress[i].from
                    if(from_elem.id == state.id)
                    {
                        this.progressOfNetwork[this.iteration].progress[i].from.complete = state.complete //i.e., true
                    }
                    //1.b. update to states
                    tidx = to_elems.findIndex(e => e.id == state.id)
                    if(tidx > -1 && to_elems[tidx].complete == false )
                    {
                        //console.log('completed',to_elems[tidx] )
                        this.progressOfNetwork[this.iteration].progress[i].to[tidx].complete = state.complete //i.e., true
                    }

                }

            },

            getNextProgressElement(state) {
                /*
                    This function checks whether a from element is already in the progressOfNetwork if yes then
                    it increment the iteration then get to elements, otherwise it simply get the to elements

                */
                ///check if from state already exists then increment the iteration
                curIterProgress = this.progressOfNetwork[this.iteration].progress
                idx = curIterProgress.findIndex(e => e.from.id == state.id)

                if(idx < 0)
                {
                    already_present = false
                    for(i = 0; i < curIterProgress.length; i++)
                    {
                        to_elems = curIterProgress[i].to
                        //console.log('to_elems', to_elems)
                        tidx = to_elems.findIndex(e => e.id  == state.id)
                        //console.log('tidx::::',tidx)
                        if(tidx > 0)
                            already_present = true
                    }
                    //if(already_present)
                    //    this.iteration++

                    to_elems = this.getToElementsofaState(state)
                }



            },

            recordFromAction(curprg,state){
                 /*
                    This function is called when a from element is clicked
                    Input: current progress (curprg) and state (bstate)
                    Output: 1. State is considered to be completed.
                            2. All the 'to' non-monitoring states are completed. If they dont have more incoming connections
                            3. all the 'to' states of the previous progress elements are completed
                            4. the next progress element is shown
                */

                if(!state.monitoringstate)
                {
                    console.log('this is not a monitoring state')
                    return
                }
                if(state.complete)
                {
                    console.log('state is already completed')
                    return
                }


                /*1. TO-DO: State is considered to be completed if
                    1. check causal impact
                    2. if causal impact and not initial state then return
                    3. otherwise update state status
                */

                console.log('isinitial state',state, state.initial_state)


                if (!state.initial_state)
                {
                    impact_complete = this.checkCausalImpact(state)
                    console.log('causalimpact is',impact_complete)

                    if(!impact_complete)
                    {
                        console.log('causal impact not complete yet')
                        return
                    }

                }


                state.complete = true

                //1.a. set the similar elements in the current progress as complete

                this.updateCurrentMonitoringState(state,curprg)



                state.complete = true


                pitch = 0.8
                rate = 0.85
                if(state.sentimentlbl == 'Negative')
                    pitch = 0.9
                    rate = 0.7

                this.play(state.successmsg,pitch,rate)

                //2. All the 'to' non-monitoring states are completed. If they don't have more incoming connections
                curIterProgress = this.progressOfNetwork[this.iteration].progress
                idx = curIterProgress.findIndex(e => e.from.id == state.id)
                //console.log('idx',idx)
                if(idx > -1)
                {
                    progress_elements = curIterProgress[idx].to
                    //console.log('progress_elements',progress_elements)

                    for(i = 0; i < progress_elements.length; i++) {
                        progress_element = progress_elements[i]
                        if(progress_element.monitoringstate == false)
                        {
                            //2.a.a. TO-DO: check if there is another element leading to the progress_element.

                            //If it is completed then set the status as complete.
                            if(progress_element.id.length > 0)  //if it is a valid element then check causal impact, otherwise mark it as completed
                            {
                                completed = this.checkCausalImpact(progress_element)
                                //console.log('completed',completed)
                                if(completed)
                                {
                                    progress_element.complete = state.complete
                                    //2.a.a.a. set the to element(s) status in previous iterations for a state as to element(s)
                                    for(let i = 0; i < curIterProgress.length; i++)
                                    {
                                        toelems = curIterProgress[i].to
                                        toid = toelems.findIndex(e => e.id == progress_element.id)
                                        if(toid > -1)
                                        {
                                            toelems[toid].complete = progress_element.complete
                                        }
                                    }
                                    //2.a.a.b. set the showNext as true
                                    curIterProgress[idx].showNext = true
                                }
                            }
                            else    //last node
                            {
                                //2.a.b. set the status as complete and showNext as false
                                //console.log('progress_element',progress_element)
                                progress_element.complete = state.complete
                                curIterProgress[idx].showNext = false
                            }
                        }

                    }

                }

                //if to state is not the last node then showNext
                //console.log('progress_element, state',curprg,state)
                elems = this.getToElementsofaState(state,false)
                if(elems[0].id != '')
                    this.showNextEventBasedProgressElement(curprg,state,false)

            },

            //event related functions

            checkCausalImpact(to_element){
                // This function checks the causal impacts from the other (incoming states).
                //Input: to_element: an element that has to change the completion status based on the input state
                //Output: returns true if all incoming connections are also complete

                progress = this.progressOfNetwork[this.iteration].progress
                console.log('progress',progress)
                causal_effect_completed = false

                for(var eindex = 0; eindex < to_element.inconnection.length; eindex++)
                {
                    felem_found = false
                    felem_found_complete = false
                    telem_found = false
                    telem_found_complete = false

                    elem = to_element.inconnection[eindex].value

                    console.log('ELEM in to_element loop', elem)

                    var pindex = 0
                    for(pindex; pindex < progress.length; pindex++)
                    {
                        //check from elements
                        from_element = progress[pindex].from
                        //console.log('checkCausalImpact:progress loop', from_element, elem)
                        if(elem == from_element.id)
                        {
                            felem_found = true
                            console.log('FROM ELEMENT', from_element, from_element.complete)
                            if(from_element.complete == true)
                            {
                                felem_found_complete = true
                            }
                            else
                            {
                                felem_found_complete = false
                            }
                        }
                        //check to elements in the progress for completion
                        to_elems = progress[pindex].to
                        tidx = to_elems.findIndex(e => e.id == elem)
                        if(tidx > -1)
                        {
                            telem_found = true
                            to_elem = to_elems[tidx]
                            if(to_elem.complete)
                            {
                                telem_found_complete = true
                            }
                        }


                    }

                    if(pindex == progress.length)
                    {
                        console.log('pindex == progress.length: felem_found_complete, felem_found', felem_found_complete, felem_found)
                        if(felem_found == true)
                            if(felem_found_complete == false)
                                causal_effect_completed = false
                            else
                                causal_effect_completed = true
                        else
                        {   //check to elements
                            console.log('pindex == progress.length: telem_found_complete, telem_found', telem_found_complete, telem_found)
                            if(telem_found == true)
                                if(telem_found_complete == false)
                                    causal_effect_completed = false
                                else
                                    causal_effect_completed = true
                        }
                    }

                }

                return causal_effect_completed






                //console.log('checkCausalImpact:index', to_element, index)
                if(index > -1)
                {
                    incoming_states = this.incomingBaseLevelNetwork[index].incoming_states
                    //console.log('checkCausalImpact - incoming_states',incoming_states)
                    // check from all incoming states

                    //console.log('incoming_states.length',incoming_states.length,progress)

                    for(i = 0; i < to_element.inconnection.length; i++)
                    {
                        incoming_conn = to_element.inconnection[i].value
                        console.log('progress',progress)

                        for(i = 0; i < progress.length; i++)
                        {
                            e = progress[i].from
                            console.log('incoming_conn',incoming_conn, elem.id)
                            if(elem.id == incoming_conn)
                            {
                                console.log('XXXXXXX- incoming_conn',incoming_conn)
                                /*if(e.complete == false)
                                {
                                    return false
                                }*/
                            }
                        }


                    }



                    /*for(i = 0; i < incoming_states.length;i++)
                    {
                        elem = incoming_states[i]
                        //console.log('checkCausalImpact - elem', elem)

                        flag = true
                        //checking the progress elements if incoming elements are complete
                        for(i = 0; i < progress.length; i++)
                        {
                            e = progress[i].from
                            if(elem.id == e.id)
                                if(e.complete == false)
                                {
                                    return false
                                }


                        }
                    }*/
                }
                else
                {
                    //check if it is the last node of process completed
                    console.log('checkCausalImpact:element name', to_element.name)
                    if(to_element.id == '')
                    {
                      console.log('checkCausalImpact:element name', to_element.name)
                      last_index = this.incomingBaseLevelNetwork.length - 1
                      incoming_states = this.incomingBaseLevelNetwork[last_index].incoming_states

                      for(i = 0; i < incoming_states.length;i++)
                      {
                           elem = incoming_states[i]
                           idx = progress.findIndex(e => e.from.id == elem.id)
                           if(idx > -1)
                           {
                               from_elem = progress[idx].from
                               //console.log('from_elem',from_elem)
                               completed = from_elem.complete
                               //console.log('completed',completed)
                               if(!completed)
                               {
                                   // console.log('checkCausalImpact 2 - completed',completed)

                                   return false
                                }
                           }
                      }

                      //console.log('true')
                   }

                }
                //console.log('checkCausalImpact 3 - completed',completed)

                //console.log('status in causalimpact',status)
                return status
            },

            getToElementsofaState(state, produce = true){
                  /*
                  this function returns the to elements of a state
                  Input: state
                  Output: list of outgoing elements
                  1. get the outgoing elements of a state
                  2 will think. increment the iteration and
                  2. append the outgoing elements in the progress of network

                  */

                progress = []
                nextidx = this.outgoingBaseLevelNetwork.findIndex(e => e.from.id === state.id )
                //console.log('state,nextidx',state,nextidx)
                if(nextidx > -1)
                {
                  //1. get the to elements of the 'from' state.
                  //1.a. get the outgoing elements of each of the to states
                  //1.b. append the outgoing elements in the progress of network

                  to_elems =  this.outgoingBaseLevelNetwork[nextidx].to
                  for(let i = 0; i < to_elems.length;i++)
                  {
                    from_state = to_elems[i]
                    idx = this.outgoingBaseLevelNetwork.findIndex(e => e.from.id === from_state.id )
                    //console.log('from_state, idx =',from_state, idx)
                    if(idx > -1)
                    {

                        //create new entry and update its status
                        elem = this.outgoingBaseLevelNetwork[idx]
                        //console.log('entry =',elem)
                        entry = this.createNewEntry(elem)
                        from_elem = entry.from
                        if(!from_elem.monitoringstate)
                        {
                            completed = this.checkCausalImpact(from_elem)
                            entry.from.complete = completed
                        }

                        to_elems = entry.to
                        for(i = 0; i < to_elems.length; i++)
                        {
                            to_elem = to_elems[i]
                            ///console.log('to_elem ===',to_elem)
                            //if it is an observation state (but not the last state then mark it as completed
                            if(!to_elem.monitoringstate && (to_elem.id != ''))
                                to_elems[i].complete = true

                        }
                        if(produce)
                            this.progressOfNetwork[this.iteration].progress.push(entry)
                    }
                    else
                    {
                        //check if this is the last entry then show it as completed

                        //console.log('last:', from_state)
                        if(from_state.id == '')
                        {

                            from = this.createNewElement(from_state)

                            //if last state is klaar, mark it as completed
                            from.complete = true

                            to = []
                            entry = {
                                from: from,
                                to: to,
                                showStates:true,
                                showNextEntry: false
                            }

                            if(produce)
                                this.progressOfNetwork[this.iteration].progress.push(entry)
                        }
                    }
                  }
                }
              return to_elems

            },


            //initializations

            init(){
                /* Loading the graph from the database*/
                //1. parse json
                 json_data = JSON.parse("{{data|escapejs}}")
                 this.name = json_data.name
                 specification = json_data.specification

                 baseModel = specification[0]
                 this.incomingFirstOrderLevel = specification[1]
                 this.incomingSecondOrderLevel = specification[2]

                 //2. generating stateMatrix
                 this.stateMatrix.push(specification[0])
                 this.stateMatrix.push(specification[1])
                 this.stateMatrix.push(specification[2])


                 //3. generating model matrix. This matrix consists of outgoing connections
                 //console.log(baseModel)
                 this.generateIncomingBaseLevelNetwork(baseModel)
                 this.generateOutgoingBaseLevelNetwork(baseModel)


                 //initialization of progressOfNetwork
                 this.initialize_eventBasedProgress()


            },//init

            initialize_eventBasedProgress()
            {
                /* This function populates the network to be displayed for the initial states
                */

                progress = []

                //populating the network with the initial states
                for (i = 0; i < this.outgoingBaseLevelNetwork.length; i++)
                {
                    curiterEntry = this.outgoingBaseLevelNetwork[i]
                    //console.log(curiterEntry.from.id)
                    show = curiterEntry.from.initial_state
                    if(show == true)
                    {
                        entry = this.createNewEntry(curiterEntry)
                        progress.push(entry)
                   }
                }
                this.progressOfNetwork[this.iteration] = {progress: progress}

            },


            createNewEntry(curiterEntry){
                /*this function creates an entry with new elements in it.
                This takes an entry having from, to and shownext and showstates parameters
                Target is to keep each state independent*/

                from = this.createNewElement(curiterEntry.from)
                to = this.generateToElements(curiterEntry.to)
                //completed = this.updateStateStatus(from)
                //console.log('completed',completed)

                entry = {
                           from: from,
                           to: to,
                           showStates:true,
                           showNextEntry: true
                       }

                return entry
            },

            generateToElements(entry){
                /* This function generates new progress Elements
                Input: an entry
                Output: the 'to' states of the entry as new elements
                */

                to = []
                for(var i = 0; i < entry.length; i++)
                {
                    to_elem = entry[i]
                    elem = this.createNewElement(to_elem)
                    to.push(elem)
                }
                return to
            },






            generateIncomingBaseLevelNetwork(model){
                   //Function to extract the incoming states to make an incoming graph
                   //Input: States like X1<-X1; X2<-X1
                   //Output: X1<-null and X2<->X1
                   //console.log(model)
                   for(var i = 0; i < model.states.length; i++){
                      state = model.states[i]
                      incoming_states = this.getIncomingStates(state,model)
                      this.incomingBaseLevelNetwork.push({state: state, incoming_states: incoming_states})
                   }



            },

            getIncomingStates(states,model){
                   //Function to extract the incoming states to make an incoming graph
                   //Input: States like X2<-X1; X1<-X1
                   //Output: X2->X1 and X1->0

                   sid = state.id.toLowerCase()

                   found = false
                   idx = model.states.findIndex(e => e.id.toLowerCase() == sid)
                   incoming = model.states[idx].inconnection
                   //iterate the incoming states data structure
                   incoming_states = []
                   for(var i = 0; i < incoming.length; i++){
                        conn_value = incoming[i].value.toLowerCase()
                        if(conn_value != sid) //avoiding self reference
                        {
                            found = true
                            incoming_stateidx = model.states.findIndex(e => e.id.toLowerCase() == conn_value)
                            incoming_state = model.states[incoming_stateidx]
                            incoming_states.push(incoming_state)
                        }
                   }

                   if(!found)
                   {
                     null_state = this.createNewElement()
                      incoming_states.push(null_state)
                   }

                   return incoming_states
          },

          generateOutgoingBaseLevelNetwork(model) {
                /*making the outgoing graph from individual incoming connections
                    Input: X1->X2 and X1->X3
                    Output: X1->X2,X3
                    This will populate outgoingBaseLevelNetwork which will have information like 'from' state to 'to' states
                 */

                this.generateIndividualBaseLevelOutConnections(model)

                // get outgoing states for all states in a model

                incomingGraph = []

                for (index = 0; index < this.individualBaseLevelOutConnections.length; index++)
                {
                    //generating from element
                    elem = this.individualBaseLevelOutConnections[index].from
                    //check if from_elem is an initial state
                    initial_state = this.isInitialState(elem)
                    if (initial_state)
                        console.log("Initial state - elem",elem)
                    from_elem = this.createNewElement(elem)
                    from_elem.initial_state = initial_state

                    //generating to elements
                    elem = this.individualBaseLevelOutConnections[index].to
                    initial_state = this.isInitialState(elem)
                    to_elem = this.createNewElement(elem)
                    to_elem.initial_state = initial_state
                    //console.log('to_elem', to_elems)

                    to_elems=[]

                    idx = this.outgoingBaseLevelNetwork.findIndex(e => e.from.id === from_elem.id)

                    showNextEntry = false
                    showStates = false
                    if(idx == -1)
                    {
                        //element is not found in the outgoingBaseLevelNetwork
                        //check if to_elem is already a from element then create a new element
                        toidx = this.outgoingBaseLevelNetwork.findIndex(e => e.from === to_elem)
                        //console.log('toidx', toidx)

                        if(toidx > -1)
                        {
                            elem = this.outgoingBaseLevelNetwork[toidx].from
                            initial_state = this.isInitialState(elem)
                            to_elem = this.createNewElement(elem)
                            to_elem.initial_state = initial_state
                        }

                        to_elems.push(to_elem)


                        this.outgoingBaseLevelNetwork.push({from: from_elem, to: to_elems, showStates:showStates, showNextEntry:showNextEntry})
                    }
                    else
                    {
                        //from state already exists in the network, then append the baseModel
                        this.outgoingBaseLevelNetwork[idx].to.push(to_elem)
                    }
                }
          }, //generateOutgoingBaseLevelNetwork

          isInitialState(state)
          {
               //this function check and return if a state is an initial state
               initial = false
               //console.log('state',state)
              // console.log('incomingBaseLevelNetwork',this.incomingBaseLevelNetwork)
               idx = this.incomingBaseLevelNetwork.findIndex(e => e.state.id == state.id)
               if(idx > -1)
               {
                    incoming_elems = this.incomingBaseLevelNetwork[idx].incoming_states
                    //if there is no element
                    if(incoming_elems[0].id == '')
                        return true

                    if (idx == 0)//Assumption: first state is always an initial state
                        initial = true

               }

               return initial

          },

          generateIndividualBaseLevelOutConnections(model){
                   //Function to extract the incoming states to make an outgoing graph
                   //Input: States like X2<-X1; X3<-X1
                   //Output: X1->X2 and X1->X3
                   //console.log(model)
                   for(var i = 0; i < model.states.length; i++){
                      state = model.states[i];
                      this.getOutgoingStates(state, model)
                   }


          },

          getOutgoingStates(to_state, model){
                   //Function to extract the incoming states to make an outgoing graph
                   //Input: States like X2<-X1; X3<-X1
                   //Output: X1->X2 and X1->X3
                   sid = state.id.toLowerCase()
                   found = false
                   for(i = 0; i< model.states.length;i++)
                   {
                       incoming = model.states[i].inconnection
                       for(j = 0; j < incoming.length;j++)
                       {
                            val = incoming[j].value.toLowerCase()
                            if( val == sid)
                            {
                                found = true
                                ostate = model.states[i]
                                if(ostate != state) //avoiding self-reference
                                {
                                    this.individualBaseLevelOutConnections.push({'from':state, 'to':ostate})
                                }
                            }
                       }
                   }
                   if (!found)
                   {
                      toelem = this.createNewElement() //process completed

                      toelem.name = 'Klaar'
                      toelem.username = 'Klaar'

                      this.individualBaseLevelOutConnections.push({'from':state, 'to':toelem})
                   }

          },

          createNewElement(element){

            elem = {
                id: '',
                name: '',
                username: '',
                monitoringstate: false,
                combinationfunctions:[],
                complete: false,
                connectionweights: [],
                inconnection: [],
                initvalue: 0,
                showParamBtn: false,
                speed: 0,
                successmsg: [],
                warningmsg: [],
                initial_state:false,
                fout: false,
                sentimentlbl: 'Positive'

            }
            if(element)
            {
                //convert strings if any to boolean
                var complete = (element.complete === 'true');
                monitoringstate = false
                if(element.monitoringstate == 'true' || element.monitoringstate == true)
                    monitoringstate = true

                elem = {
                id: element.id,
                name: element.name,
                username: element.username,
                monitoringstate: monitoringstate,
                combinationfunctions:element.combinationfunctions,
                complete: complete,
                connectionweights: element.connectionweights,
                inconnection: element.inconnection,
                initvalue: element.initvalue,
                showParamBtn: element.showParamBtn,
                speed: element.speed,
                successmsg: element.successmsg,
                warningmsg: element.warningmsg,
                initial_state: element.initial_state,
                fout: false,
                sentimentlbl: element.sentimentlbl
                }

            }
            return elem
          }

        }))
    })
</script>



{% endblock %}