<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text-to-Speech with Alpine.js</title>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.js" defer></script>
</head>
<body>
    <div x-data="speechSynthesis" x-init="">
        <input type="text" x-model="text">
        <button x-on:click="alert('hello');speak()" :disabled="!text">Speak</button>
    </div>
    <script>
        document.addEventListener('alpine:init', () => {
        Alpine.data('speechSynthesis', () => ({

        speak() {
                    alert('Speak')
                    //speakText(this.$parent.text);
                },
        speakText(text) {
            const speechSynthesis = window.speechSynthesis;
            const utterance = new SpeechSynthesisUtterance(text);
            speechSynthesis.speak(utterance);
        }

        }))
        })
    </script>
</body>
</html>